# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# Apply these rules to all files in the project (C#, HTML, JS, etc.)
[*]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 3
indent_style = space
tab_width = 3

# New line preferences
end_of_line = crlf
insert_final_newline = false
